<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs160_ej.lordofrepresentatives">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lord_of_the_reps"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LordOfTheRepsTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Congressional"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".RepFragmentActivity" />

        <service android:name=".MobileToWearService" />

        <activity
            android:name=".DetailedInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleInstance"/>

        <service
            android:name=".MobileListener"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="365c30432a9ee4f13e3560c03289f6cda61e1301" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBP5ugPAQaXv6qf9OMe_RgmDYYEZkA3Al4" />


</manifest>
